<div id="all">
    <div id="top">
        <img src="http://www.7006.top/style/images/latestnews-title.png" style="position: absolute ;top: 15px;">
        <div id="liAll">
            <ul id="minNew">
                <li>
                    <img src="http://www.7006.top/style/images/symbol-1.png" alt="">
                    <a href="">Notel：朝鲜流行的中国造播放器，能偷看韩剧</a >
                    <img src="http://www.7006.top/style/images/symbol-1.png"
                    style="margin-left: 20px" alt="">
                    <a href="">5G网有望在2020年准备就绪</a >
                </li>
                <li>
                    <img src="http://www.7006.top/style/images/symbol-1.png" alt="">
                    <a href="">美国人的生活里大数据都改变了什么？</a >
                    <img src="http://www.7006.top/style/images/symbol-1.png" style="margin-left: 20px" alt="">
                    <a href="">“互联网+”：最好的时代 or 最坏的时代</a >
                </li>
                <li>
                    <img src="http://www.7006.top/style/images/symbol-1.png" alt="">
                    <a href="">旧手机，你们都去哪了？</a >
                    <img src="http://www.7006.top/style/images/symbol-1.png" style="margin-left: 20px" alt="">
                    <a href="">沃尔沃在北京高速上进行无人驾驶测试</a >
                </li>
                <li>
                    <img src="http://www.7006.top/style/images/symbol-1.png" alt="">
                    <a href=" ">Facebook成功进行了太阳能无人机飞行测试</a >
                    <img src="http://www.7006.top/style/images/symbol-1.png" style="margin-left: 20px" alt="">
                    <a href="">联发科靠Helio对抗高通，胜算多少?</a >
                </li>
                <li>
                    <img src="http://www.7006.top/style/images/symbol-1.png" alt="">
                    <a href="http://www.7006.top/style/images/symbol-1.png">为什么他们都说O2O是伪命题？</a >
                    <img src="http://www.7006.top/style/images/symbol-1.png" style="margin-left: 20px" alt="">
                    <a href="">苹果大踏步挺进可穿戴领域，能成功吗？</a >
                </li>
                <li>
                    <img src="http://www.7006.top/style/images/symbol-1.png" alt="">
                    <a href="">Notel：朝鲜流行的中国造播放器，能偷看韩剧</a >
                    <img src="http://www.7006.top/style/images/symbol-1.png"
                    style="margin-left: 20px" alt="">
                    <a href="">5G网有望在2020年准备就绪</a >
                </li>
            </ul>
        </div>
        <div class="Mysearch">
            <input type="text" style="height: 30px"><input type="text" class="search">
        </div>
    </div>
    <div id="mid">
        <div id="lun">
            <ul id="left">
                <li>
                    <a href="" title="莆田系与百度百亿级大内讧">
                        <img src="http://www.7006.top/d/file/view/opinion/2015-03-28/e8b145230d480caab9878fa665d1e96a.jpg" alt="">
                        <p>莆田系与百度百亿级大内讧</p >
                    </a >
                </li>
                <li>
                    <a href="" title="马云正在威胁国家安全？">
                        <img src="http://www.7006.top/d/file/view/opinion/2015-03-28/5b39914316a2b88ab3f03011eafacd3f.jpg" alt="">
                        <p>马云正在威胁国家安全？</p >
                    </a >
                </li>
                <li>
                    <a href="" title="中国的互联网带来的一场新革命">
                        < img src="http://www.7006.top/d/file/view/opinion/2015-03-28/084bd9fcdbbe1742387819da96e879e7.jpg" alt="">
                        <p>中国的互联网带来的一场新革命</p >
                    </a >
                </li>
                <li>
                    <a href="" title="互联网让中国经济飞起来！">
                        <img src="http://www.7006.top/d/file/view/opinion/2015-03-28/da58e2faca45f87be541e957295bd792.jpg" alt="">
                        <p>互联网让中国经济飞起来！</p >
                    </a >
                </li>
            </ul>
            <ul id="right">
                <li>
                    莆田系与百度百亿级大内讧
                    <span></span>
                </li>
                <li>
                    马云正在威胁国家安全？
                    <span></span>
                </li>
                <li>
                    中国的互联网带来的一场新革命
                    <span></span>
                </li>
                <li>
                    互联网让中国经济飞起来！
                    <span></span>
                </li>
            </ul>
        </div>
        <div id="todayLine">
            <div class="title">
                <img src="http://www.7006.top/style/images/symbol-3.png" alt="">
                <span style="font-size: 18px;position: relative;top: -2px;">今日头条</span>
                <div class="lineBottom"></div>
            </div>
            <ul id="rowLine">
                <li ng-repeat="item in items1">
                    <div class="smallTitle">{{item.title}}</div>
                    <div class="smallContent">{{item.content}}</div>
                </li>
            </ul>
        </div>
        <div class="images">
            <a href=""><img src="http://www.7006.top/style/images/index_v3.jpg" style="float: left" alt=""></a >
            <a href=""><img src="http://www.7006.top/style/images/img3.jpg" style="float: right" alt=""></a >
            <a href=""><img src="http://www.7006.top/style/images/index_index_001.jpg" style="margin-top: 10px" alt=""></a >
        </div>
        <div id="mid-mid">
            <div id="jxdd">
                <div class="title">
                    <img src="http://www.7006.top/style/images/symbol-4.png" alt="">
                    <span style="font-size: 18px;position: relative;top: -2px;">精选导读</span>
                    <div class="lineBottom"></div>
                </div>
                <ul id="jxRow">
                    <li ng-repeat="item in items2">
                        <img src={{item.img}} alt="">
                        <div class="right">
                            <p>{{item.title}}</p >
                            <p>{{item.content}}</p >
                        </div>
                    </li>
                </ul>
            </div>

            <div id="gzwm">
                <div class="title">
                    <img src="http://www.7006.top/style/images/symbol-4.png" alt="">
                    <span style="font-size: 18px;position: relative;top: -2px;">关注我们</span>
                    <div class="lineBottom"></div>
                </div>

                <div class="ss">
                    <p style="font-size: 16px">关注微信公众号，了解最新精彩内容</p >
                    <div class="ma">
                        <img src="http://www.7006.top/style/images/qr1.jpg" alt="">
                        <img src="http://www.7006.top/style/images/qr2.jpg" alt="">
                    </div>
                    <div class="other">
                        <a href="">
                            <img src="http://www.7006.top/style/images/wb1.png" alt="">
                        </a >
                        <a href="">
                            <img src="http://www.7006.top/style/images/wb2.png" alt="">
                        </a >
                        <a href="">
                            <img src="http://www.7006.top/style/images/subscription.png" alt="">
                        </a >
                    </div>
                </div>
            </div>

        </div>
        <div class="mid-bottom">
            <div id="rmtj">
                <div class="title">
                    <img src="http://www.7006.top/style/images/symbol-6.png" alt="">
                    <span style="font-size: 18px;position: relative;top: -2px;">热门推荐</span>
                    <div class="lineBottom"></div>
                </div>
                <ul id="rmRow">
                    <li ng-repeat="item in items3 | limitTo:10">
                        <div class="left">
                            <img src={{item.img}} alt="">
                            <p>{{item.mark}}</p >
                        </div>
                        <div class="right">
                            <p style="font-size: 18px;font-weight: bold;">{{item.title}}</p >
                            <p style="margin-top: 20px;margin-bottom: 50px;font-size: 14px">{{item.content}}</p >
                            <p><img src="http://www.7006.top/style/images/symbol-9.png" alt=""> <span>作者: {{item.author}}</span>
                                <img src="http://www.7006.top/style/images/symbol-11.png"  style="margin-left: 30px" alt=""> <span>{{item.date}}</span></p >
                        </div>
                    </li>
                </ul>
            </div>

            <div id="midBotRight">
                <div id="readT">
                    <div class="title">
                        <img src="http://www.7006.top/style/images/symbol-3.png" alt="">
                        <span style="font-size: 18px;position: relative;top: -2px;">阅读推荐</span>
                        <div class="lineBottom"></div>
                    </div>
                    <ul id="readRow">
                        <li>
                            <a href=""><p>ZOL卖15亿，垂直网媒的未来在哪里</p ></a >
                            <div>
                                <img src="http://www.7006.top/d/file/view/media/2015-03-27/a1cba3cb62c9e9a7fd18c4739658cb12.jpg" alt="">
                                <span>3月18日早上，一条小消息，撩拨着行业媒体的大神经。今天早上，慧聪网发布公告称，已经与IT垂直门户....</span>
                            </div>
                        </li>
                        <li>
                            <a href=""><p>“纸”在削减，“媒”何以不死？</p ></a >
                            <div>
                                <img src="http://www.7006.top/d/file/view/media/2015-03-27/1baa76596314c31cc38e2ce65040a569.jpg" alt="">
                                <span>过去的一年时间里，很多纸媒依然没有熬过“寒冬”。“当下最具有互联网思维的杂志”《壹读》近日业....</span>
                            </div>
                        </li>
                        <li>
                            <a href=""><p>《穹顶之下》：人们为什么开始质疑柴静</p ></a >
                            <div>
                                <img src="http://www.7006.top/d/file/view/media/2015-03-27/acc54145b4a487e3d101cffd93526b64.jpg" alt="">
                                <span>导语:相信在刚刚过去的周末，人们的微博和朋友圈都被柴静和她的《苍穹之下》所刷屏。两会前期，....</span>
                            </div>
                        </li>
                        <li>
                            <a href=""><p>没几把刷子，请不要玩自媒体</p ></a >
                            <div>
                                <img src="http://www.7006.top/d/file/view/media/2015-03-27/a9498f4e647eee9b682ac38b52992447.jpg" alt="">
                                <span>方雨在不同场合分享过自媒体的运营之道。最近不少朋友求教方雨自媒体如何玩起来，这里做个简单....</span>
                            </div>
                        </li>
                    </ul>


                </div>
                <img src="http://www.7006.top/style/images/index_v4.jpg" style="width: 320px;height: 250px;margin: 20px 0" alt="">
                <div id="mjzl">
                    <div class="title">
                        <img src="http://www.7006.top/style/images/symbol-3.png" alt="">
                        <span style="font-size: 18px;position: relative;top: -2px;">名家专栏</span>
                        <p style="float: right;">在这与他们同行</p >
                        <div class="lineBottom"></div>
                    </div>
                    <ul id="bigD">
                        <li><img src="http://www.7006.top/style/imga/e1.jpg" alt=""><p>马云</p ></li>
                        <li><img src="http://www.7006.top/style/imga/e2.jpg" alt=""><p>马化腾</p ></li>
                        <li><img src="http://www.7006.top/style/imga/e3.jpg" alt=""><p>李彦宏</p ></li>
                        <li><img src="http://www.7006.top/style/imga/e4.jpg" alt=""><p>刘强东</p ></li>
                        <li><img src="http://www.7006.top/style/imga/e5.jpg" alt=""><p>丁磊</p ></li>
                        <li><img src="http://www.7006.top/style/imga/e6.jpg" alt=""><p>张朝阳</p ></li>
                        <li><img src="http://www.7006.top/style/imga/e7.jpg" alt=""><p>陈天桥</p ></li>
                        <li><img src="http://www.7006.top/style/imga/e8.jpg" alt=""><p>周鸿祎</p ></li>
                        <li><img src="http://www.7006.top/style/imga/e9.jpg" alt=""><p>雷军</p ></li>
                    </ul>
                </div>
                <div id="kjkb">
                    <div class="title">
                        <img src="http://www.7006.top/style/images/symbol-13.png" alt="">
                        <span style="font-size: 18px;position: relative;top: -2px;">科技快报</span>
                        <div class="lineBottom"></div>
                    </div>
                    <ul id="kjRow">
                        <li ng-repeat="item in items4 | limitTo:6 ">
                            <a href=""><p><span>{{item.id}}</span><span  style="margin-left: 10px">{{item.title}}</span></p ></a >
                        </li>
                    </ul>
                </div>
                <div id="ppzs">
                    <div class="title">
                        <img src="http://www.7006.top/style/images/symbol-5.png" alt="">
                        <span style="font-size: 18px;position: relative;top: -2px;">品牌展示</span>
                        <div class="lineBottom"></div>
                    </div>
                    <img src="http://www.7006.top/style/images/index_v5.jpg" style="margin-top: 10px" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="mainother">
        <!-- 合作伙伴 -->
        <div class="partners">
            <div class="partnerstitle"></div>
            <div class="partnersimg"><a href=""><img src="http://www.7006.top/style/link/link_logo1.jpg" alt=""></a></div>
            <div class="partnersimg"><a href="/"><img src="http://www.7006.top/style/link/link_logo2.jpg" alt=""></a></div>
            <div class="partnersimg"><a href=""><img src="http://www.7006.top/style/link/link_logo3.jpg" alt=""></a></div>
            <div class="partnersimg"><a href=""><img src="http://www.7006.top/style/link/link_logo4.jpg" alt=""></a></div>
            <div class="partnersimg"><a href=""><img src="http://www.7006.top/style/link/link_logo5.jpg" alt=""></a></div>
            <div class="partnersimg"><a href=""><img src="http://www.7006.top/style/link/link_logo6.jpg" alt=""></a></div>
            <div class="partnersimg"><a href=""><img src="http://www.7006.top/style/link/link_logo7.jpg" alt=""></a></div>
            <div class="partnersimg"><a href=""><img src="http://www.7006.top/style/link/link_logo8.jpg" alt=""></a></div>

        </div>
        <!-- @合作伙伴 -->
        <!-- 友情链接 -->
        <div class="links">
            <div class="linkstitle"></div>
            <ul class="ulfix">
                <li><a href="http://it.sohu.com/" target="_blank">搜狐IT</a></li>
                <li><a href="http://tech.sina.com.cn/" target="_blank">新浪科技</a></li>
                <li><a href="http://www.stdaily.com/" target="_blank">中国科技网</a></li>
                <li><a href="http://tech.qq.com/" target="_blank">腾讯科技</a></li>
                <li><a href="http://tech.ifeng.com/" target="_blank">凤凰科技</a></li>
                <li><a href="http://tech.163.com/" target="_blank">网易</a></li>
                <li><a href="http://www.newhua.com/" target="_blank">牛华网</a></li>
                <li><a href="http://news.ittime.com.cn/" target="_blank">IT时代周刊</a></li>
                <li><a href="http://www.techxinwen.com/" target="_blank">科技资讯网</a></li>
                <li><a href="http://science.china.com.cn/" target="_blank">科学中国</a></li>
                <li><a href="http://news.iresearch.cn/" target="_blank">艾瑞网</a></li>
                <li><a href="http://www.techweb.com.cn" target="_blank">TechWeb</a></li>
                <li><a href="http://tech.hexun.com/" target="_blank">和讯科技</a></li>
                <li><a href="http://tech.gmw.cn/" target="_blank">光明科技</a></li>
                <li><a href="http://www.student.gov.cn/" target="_blank">学生科技网</a></li>
                <li><a href="http://it.msn.com.cn/" target="_blank">MSN中国科技频道</a></li>
                <li><a href="http://www.huxiu.com/" target="_blank">虎嗅网</a></li>
                <li><a href="http://www.guancha.cn/" target="_blank">观察者网</a></li>
            </ul>
        </div>
        <!-- @友情链接 -->
    </div>
</div>
